<template name="leaderboard">
    <table class="table table-striped">
        <tbody>
          {{>InfoModal}}
            <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Options</th>
            </tr>
            {{#each player}}
              <tr class="player {{selectedClass}}">
              {{#if editTable}}
                <td class="player {{selectedClass}}"><input type="text" name="name" value="{{name}}"><a href="#" class="glyphicon glyphicon-ok update"></a></td>
                <td class="player {{selectedClass}}">{{score}}</td>
                <td class="player {{selectedClass}}"><a href="#" class="glyphicon glyphicon-trash remove"></a>&nbsp;&nbsp;&nbsp;<a href="#" class="edit glyphicon glyphicon-pencil"></a></td>
              {{else}}
                <td class="player {{selectedClass}}">{{name}}</td>
                <td class="player {{selectedClass}}">{{score}}</td>
                <td class="player {{selectedClass}}"><a href="#" class="glyphicon glyphicon-trash remove"></a>&nbsp;&nbsp;&nbsp;<a href="#" class="edit glyphicon glyphicon-pencil"></a></td>
            {{/if}}
              </tr>
            {{/each}}
        </tbody>
    </table>
    {{#if showSelectedPlayer}}
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      Selected Player : {{showSelectedPlayer.name}}
    </div>
    {{/if}}
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
       <input type="button" class="increment" value="Give Points!">
        <input type="button" class="decrement" value="You suck!">
    </div>
   
</template>
